/* Archivo de cascada de estilos */

/* importo tipografia Anton de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body{

background-color: #fd8d9f;
font-size: 25px;
font-family:'Anton', sans-serif; ;
width: 80%;
max-width: 700px;
margin: 0 auto;
}